<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vicenteaguilera.formutec">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_sigma"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_sigma_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup">
        <activity android:name=".layouts_principales.FormulaActivity"
            android:parentActivityName=".layouts_principales.PrincipalActivity"></activity>
        <activity
            android:name=".layouts_secundarias.QuejasSugerenciasActivity"
            android:parentActivityName=".layouts_principales.PrincipalActivity" />
        <activity
            android:name=".layouts_secundarias.AcercaActivity"
            android:parentActivityName=".layouts_principales.PrincipalActivity" />
        <activity android:name=".layouts_principales.PrincipalActivity" />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>